<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken Sample2-1</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Lec02 GET!</h1>
  Hi [[${login_user}]]
  <h1>エントリー</h1>
  <div th:if="${chamber2}">
    <ul>
      <li th:each="chamber2 : ${chamber2}"><a th:href="@{./match(id=${chamber2.id})}">[[${chamber2.name}]]</a></li>
    </ul>
  </div>

  <h1>試合結果</h1>
  <div th:each="match,stat:${match}">
    ID:[[${match.id}]]
    user_1:[[${match.user_1}]]
    user_2:[[${match.user_2}]]
    user_1の手:[[${match.user_1_hand}]]
    user_2の手:[[${match.user_2_hand}]]
  </div>


</body>

</html>
